{% extends 'my_portfolio/base.html' %}

    {% block content %}
    {% load static %}
<br>
<!-- Our Team Area Start -->
    <section class="our-team-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h1>My Specializations</h1>
                    </div>
                </div>
            </div>
<br>
            <div class="row">
                <!-- Team Member Area -->
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>DeepLearning</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/PUNLL63WW94L"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <!-- Team Member Area -->
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="300ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/90.jpg' %}" alt="">
                        </div>
                        <h5>MachineLearning</h5>
                        <span>Coursera-Stanford</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/verify/3NAL9FR77FWQ"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <!-- Team Member Area -->
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/91.png' %}" alt="">
                        </div>
                        <h5>Explore ML Appreciation</h5>
                        <span>Google</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://github.com/shauryabit2k18/all-certificates-main/blob/master/Explore%20ML%20Certificate%20of%20Appreciation%20-%20%20Shaurya%20Sinha.pdf"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/91.png' %}" alt="">
                        </div>
                        <h5>Explore ML Intermediate</h5>
                        <span>Google</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://github.com/shauryabit2k18/all-certificates-main/blob/master/Explore%20ML%20Certificate%20Intermediate.pdf"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/91.png' %}" alt="">
                        </div>
                        <h5>Explore ML Begginer</h5>
                        <span>Google</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://github.com/shauryabit2k18/all-certificates-main/blob/master/Explore%20ML%20Certificate%20Beginner.pdf"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <!-- Team Member Area -->
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="700ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/92.jpg' %}" alt="">
                        </div>
                        <h5>Deep Learning A-Z</h5>
                        <span>Udemy</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.udemy.com/certificate/UC-YFNTM8LH/"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="700ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/92.jpg' %}" alt="">
                        </div>
                        <h5>Machine Learning A-Z</h5>
                        <span>Udemy</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.udemy.com/certificate/UC-QALZ3XPF/"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>Convolutional Neural Networks</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/certificate/RYVKD8DX9PLE"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>Neural Networks and Deep Learning</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/certificate/2P944Q2R2X9C"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>Sequence Models</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/certificate/JRRS3CDDV2MC"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>Structuring Machine Learning Projects</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/certificate/BZ7PX2L9JHUT"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                        <div class="member-thumb">
                            <img src="{% static 'my_portfolio/img/bg-img/89.png' %}" alt="">
                        </div>
                        <h5>Hyperparameter Tuning , Regularization and Optimization</h5>
                        <span>Coursera-DeepLearning.ai</span>
                        <div class="member-social-info">
                            <!-- <a href="#"><i class="ti-facebook"></i></a> -->
                            <!-- <a href="#"><i class="ti-twitter-alt"></i></a>-->
                            <a href="https://www.coursera.org/account/accomplishments/certificate/N955JSBZU43R"><i class="ti-id-badge"></i></a>
                            <!-- <a href="#"><i class="ti-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>



            </div>
            
        </div>
    </section>
{% endblock content %}